
.detailFrame {
    width: 250px;
    height: 100px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 14px;
  }
  
  .pnlTitle {
    width: 146px;
    padding-left: 15px;
    text-align:  left;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: black;
    font-weight: bold;
  } 
  
  .by {
    float: right;
    padding-right: 15px; 
    font-size: 12px;
  
  }
  
  .pnlAuthor {
    width: 60px;
    padding: 0px;
    text-align:  left;
    font-size: 12px;
    float: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
   .pnlDescription {
    /* padding: 5px;  */
    width: 280px;
    height: 70px;
    text-align: left;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     margin-bottom:2px; 
  } 

  .pnlFooter{
    width: 280px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-radius: 5px;
    background-color: rgb(71, 243, 55);
  }

  .desTitle{
    padding-top: 5px;
    padding-left: 15px;
    text-align: left;
  }