.picsFrame {
    width: 250px;
    height: 200px;
    border-radius: 15px;
    border: solid 1px   rgb(71, 243, 55);
  }


.standardPixSize{
    width: 248px;
    height: 198px; 
    border-radius: 14px;
  
  }