.App {
  text-align: center;
  align-self: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.panel-body {
  padding-top:2px;
  padding-bottom: 5px;
}


input[type=text], select {
  width: 25%;
  align-self: auto;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid   rgb(71, 243, 55);;
  border-radius: 4px;
  box-sizing: border-box;
}

.webPage{
  float: left;
  padding: 15px;
  border: solid 1px black;
  align-content: auto;
  margin: 10px;
}